- id: '1729770602017'
  alias: Душ
  description: Авто выключение света в душе
  triggers:
  - trigger: state
    entity_id:
    - switch.2_ty_12z_switch_4
    from: 'off'
    for:
      hours: 0
      minutes: 15
      seconds: 0
  - trigger: state
    entity_id:
    - switch.2_ty_12z_switch_4
    from: 'off'
    for:
      hours: 0
      minutes: 15
      seconds: 0
  conditions:
  - condition: state
    entity_id: switch.2_ty_12z_switch_4
    state: 'on'
    for:
      hours: 0
      minutes: 0
      seconds: 0
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.2_ty_12z_switch_4
  mode: single
- id: '1729770951551'
  alias: Вытяжка душ
  description: Авто выключение вытяжки в душе
  triggers:
  - trigger: state
    entity_id:
    - switch.1_ty_12z_switch_3
    from: 'off'
    for:
      hours: 0
      minutes: 10
      seconds: 0
  - trigger: state
    entity_id:
    - switch.2_ty_12z_switch_4
    from: 'off'
    for:
      hours: 0
      minutes: 15
      seconds: 0
  conditions:
  - condition: state
    entity_id: switch.2_ty_12z_switch_4
    state: 'on'
    for:
      hours: 0
      minutes: 0
      seconds: 0
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.1_ty_12z_switch_3
  mode: single
- id: '1737387903512'
  alias: Калидор — свет
  description: ''
  triggers:
  - type: occupied
    device_id: c9e91f7ed602c98c23be2a0dfacfaea3
    entity_id: binary_sensor.7daab7e16b1392702bd43d8f122545f5
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: sun
    after: sunset
    after_offset: -04:00:00
  - condition: time
    before: '23:00:00'
  - condition: template
    value_template: '{% set now_sec = now().timestamp() %} {% set sasha = states.binary_sensor.sasha_doma
      %} {% set lena = states.binary_sensor.lena_doma %} {% set sasha_last = sasha.last_changed.timestamp()
      if sasha.state == ''on'' else 0 %} {% set lena_last = lena.last_changed.timestamp()
      if lena.state == ''on'' else 0 %} {{ (now_sec - sasha_last < 180) or (now_sec
      - lena_last < 180) }}

      '
  actions:
  - target:
      entity_id: switch.1_ty_12z_switch_1
    action: switch.turn_on
  - delay: 00:03:00
  - target:
      entity_id: switch.1_ty_12z_switch_1
    action: switch.turn_off
  mode: single
- id: '1738685065988'
  alias: Ночное проветривание спальня (тихо)
  description: ''
  triggers:
  - at: '23:00:00'
    trigger: time
  - at: 01:00:00
    trigger: time
  - at: 03:00:00
    trigger: time
  - at: 05:00:00
    trigger: time
  actions:
  - target:
      entity_id: climate.c039370b68a2
    data:
      preset_mode: sleep
    action: climate.set_preset_mode
  - target:
      entity_id: climate.c039370b68a2
    data:
      fan_mode: low
    action: climate.set_fan_mode
  - target:
      entity_id: climate.c039370b68a2
    data:
      hvac_mode: fan_only
    action: climate.set_hvac_mode
  - delay:
      hours: 0
      minutes: 15
      seconds: 0
      milliseconds: 0
  - target:
      entity_id: climate.c039370b68a2
    data:
      hvac_mode: 'off'
    action: climate.set_hvac_mode
  mode: single
- id: '1738845974915'
  alias: Telegram - status weather
  triggers:
  - at: 08:40:00
    trigger: time
  actions:
  - data:
      chat_id: '506234553'
      message: "\n{{\"\\U0001F321\"}} *Температура (улица):* {{ states('sensor.temp1_temperature')
        }}°C  \n{{\"\U0001F4A7\"}} *Влажность (улица):* {{ states('sensor.temp1_humidity')
        }}%\n{{\"\U0001F300\"}} *По ощущениям:* {{ states('sensor.openweathermap_feels_like_temperature')
        }}°C\n{{\"\\U0001F32B\"}} *Прогноз:* {{ states('sensor.openweathermap_temperature')
        }}°C\n{{\"\\U0001F4AA\"}} *Давление:* {{ (states('sensor.openweathermap_pressure')|float
        * 0.7500637)|round(2) }} мм рт. ст  \n{{\"\\U00002600\"}} *Погода:* {{ states('sensor.openweathermap_weather')
        }}\n{{\"\\U0001F327\"}} *Дождь:* {{ states('sensor.openweathermap_rain') }}
        {{\"\\U0001F328\"}} *Снег:* {{ states('sensor.openweathermap_snow') }} \n
        {{\"↩️\"}} Меню:/start'\n"
    action: telegram_bot.send_message
- id: '1749116001554'
  alias: KonZalUtro1
  description: ''
  triggers:
  - at: 06:00:00
    trigger: time
  conditions:
  - condition: time
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
  actions:
  - target:
      entity_id: climate.c039370837e4
    data:
      hvac_mode: cool
    action: climate.set_hvac_mode
  - target:
      entity_id: climate.c039370837e4
    data:
      temperature: 18
    action: climate.set_temperature
  - target:
      entity_id: climate.c039370837e4
    data:
      fan_mode: high
    action: climate.set_fan_mode
  - target:
      entity_id: climate.c039370837e4
    data:
      preset_mode: boost
    action: climate.set_preset_mode
  mode: single
- id: '1749116318986'
  alias: KonZalUtro2
  description: ''
  triggers:
  - at: 06:50:00
    trigger: time
  conditions:
  - condition: time
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
  actions:
  - target:
      entity_id: climate.c039370837e4
    data:
      temperature: 23
    action: climate.set_temperature
  - target:
      entity_id: climate.c039370837e4
    data:
      preset_mode: eco
    action: climate.set_preset_mode
  - target:
      entity_id: climate.c039370837e4
    data:
      fan_mode: low
    action: climate.set_fan_mode
  mode: single
- id: '1751875744814'
  alias: Лето спальня
  description: Включение охлаждения 21° на полчаса в тихом режиме
  triggers:
  - at: '23:00:00'
    trigger: time
  - at: 02:00:00
    trigger: time
  - at: 05:00:00
    trigger: time
  conditions: []
  actions:
  - target:
      entity_id: climate.c039370b68a2
    data:
      preset_mode: sleep
    action: climate.set_preset_mode
  - target:
      entity_id: climate.c039370b68a2
    data:
      fan_mode: low
    action: climate.set_fan_mode
  - target:
      entity_id: climate.c039370b68a2
    data:
      temperature: 21
    action: climate.set_temperature
  - target:
      entity_id: climate.c039370b68a2
    data:
      hvac_mode: cool
    action: climate.set_hvac_mode
  - delay:
      minutes: 30
  - target:
      entity_id: climate.c039370b68a2
    data:
      hvac_mode: 'off'
    action: climate.set_hvac_mode
  mode: single
- id: '1753429709783'
  alias: Автосвет ванна
  description: Включает свет при движении и выключает через 5 минут после последнего
    движения
  triggers:
  - entity_id: binary_sensor.temp6_presence
    to: 'on'
    trigger: state
  - entity_id: binary_sensor.temp6_presence
    to: 'off'
    for: 00:05:00
    trigger: state
  conditions:
  - condition: time
    after: 08:00:00
    before: '22:00:00'
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.temp6_presence
        state: 'on'
      sequence:
      - target:
          entity_id: switch.2_ty_12z_switch_2
        action: switch.turn_on
    - conditions:
      - condition: state
        entity_id: binary_sensor.temp6_presence
        state: 'off'
      sequence:
      - delay: 00:05:00
      - condition: state
        entity_id: binary_sensor.temp6_presence
        state: 'off'
      - target:
          entity_id: switch.2_ty_12z_switch_2
        action: switch.turn_off
  mode: restart
- id: '1756374867490'
  alias: Кнопка калидор
  description: ''
  use_blueprint:
    path: button_to_switch.yaml
    input:
      button_entity: sensor.button_action
      switch_single: switch.1_ty_12z_switch_1
      switches_hold:
        device_id:
        - 873a00d3bbd8fa574ee737d21efa2f19
        - 4b7714e3f237f2e24adee6c08e84c7a6
- id: '1763649607541'
  alias: Настройка поведения зарядки по времени
  description: Меняем состояние автомата зарядки по расписанию
  triggers:
  - at: 00:30:00
    trigger: time
  - at: 08:30:00
    trigger: time
  actions:
  - choose:
    - conditions:
      - condition: time
        after: 00:30:00
        before: 08:30:00
      sequence:
      - target:
          entity_id: select.kotel_zariad_releystatus
        data:
          option: Включено
        action: select.select_option
    - conditions:
      - condition: time
        after: 08:30:00
        before: 00:30:00
      sequence:
      - target:
          entity_id: select.kotel_zariad_releystatus
        data:
          option: Выключено
        action: select.select_option
  mode: single
- id: '1763728297733'
  alias: Управление холодильником
  description: Включаем/выключаем холодильник в зависимости от состояния батареи
  triggers:
  - entity_id: binary_sensor.powmrbms_on_battery
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.powmrbms_on_battery
        state: 'on'
      sequence:
      - target:
          entity_id: switch.kholodilnik_switch_2
        action: switch.turn_off
    - conditions:
      - condition: state
        entity_id: binary_sensor.powmrbms_on_battery
        state: 'off'
      sequence:
      - delay: 00:03:00
      - target:
          entity_id: switch.kholodilnik_switch_2
        action: switch.turn_on
  mode: single
- id: '1766999646947'
  alias: Telegram - power status
  description: ''
  triggers:
  - entity_id: binary_sensor.192_168_2_219
    from: 'on'
    to: 'off'
    trigger: state
  - entity_id: binary_sensor.192_168_2_219
    from: 'off'
    to: 'on'
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.192_168_2_219
        state: 'off'
      sequence:
      - action: telegram_bot.send_message
        data:
          target:
          - 506234553
          - 515837462
          message: "{{ \"⚡❌\" }} *Свет пропал!* {% set t = states('sensor.yasno_dnipro_dnem_5_1_next_connectivity')
            -%} {% if t not in ['unknown', 'unavailable', ''] -%}\n  {% set ts = as_timestamp(t)
            -%}\n  {% set delta = ts - now().timestamp() -%}\n  {% set h = (delta
            // 3600) | int -%}\n  {% set m = ((delta % 3600) // 60) | int -%}\n\n
            \ {{ \"⏳\" }} *Ожидаемое включение:*\n  {{ ts | timestamp_custom('%d.%m.%Y
            %H:%M', true) }}\n  {{ \"⌛\" }} *Через:* {{ h }} ч {{ m }} мин\n{% else
            -%}\n  {{ \"⏳\" }} *Ожидаемое включение:* нет данных\n{% endif %}\n {%
            set soc = states('sensor.jkbms_jkbms_state_of_charge') %} {% if soc not
            in ['unknown', 'unavailable', ''] %} \U0001F50B *Заряд батареи:* {{ soc
            }} % {% else %} \U0001F50B *Заряд батареи:* нет данных {% endif %} {{
            \"↩️\" }} Меню: /start\n"
    - conditions:
      - condition: state
        entity_id: binary_sensor.192_168_2_219
        state: 'on'
      sequence:
      - action: telegram_bot.send_message
        data:
          target:
          - 506234553
          - 515837462
          message: "{{ \"⚡✅\" }} *Свет появился!* {% set t = states('sensor.yasno_dnipro_dnem_5_1_next_planned_outage')
            -%} {% if t not in ['unknown', 'unavailable', ''] -%}\n  {% set ts = as_timestamp(t)
            -%}\n  {% set delta = ts - now().timestamp() -%}\n  {% set h = (delta
            // 3600) | int -%}\n  {% set m = ((delta % 3600) // 60) | int -%}\n\n
            \ {{ \"\U0001F4C5\" }} *Следующее плановое отключение:*\n  {{ ts | timestamp_custom('%d.%m.%Y
            %H:%M', true) }}\n  {{ \"⌛\" }} *Через:* {{ h }} ч {{ m }} мин\n{% else
            -%}\n  {{ \"\U0001F4C5\" }} *Следующее плановое отключение:* нет данных\n{%
            endif %}\n {% set soc = states('sensor.jkbms_jkbms_state_of_charge') %}
            {% if soc not in ['unknown', 'unavailable', ''] %} \U0001F50B *Заряд батареи:*
            {{ soc }} % {% else %} \U0001F50B *Заряд батареи:* нет данных {% endif
            %} {{ \"↩️\" }} Меню: /start\n"
  mode: single
- id: '1767000000002'
  alias: Автозапуск зарядки аккумулятора
  description: Включает зарядку ночью, если появился стабильный городской свет
  triggers:
  - entity_id: binary_sensor.192_168_2_219
    to: 'on'
    for: 00:10:00
    trigger: state
  conditions:
  - condition: time
    after: '23:30:00'
    before: 08:00:00
  - condition: state
    entity_id: switch.kotel_zariad_switch
    state: 'off'
  - condition: state
    entity_id: switch.kholodilnik_switch_2
    state: 'on'
  actions:
  - target:
      entity_id: switch.kotel_zariad_switch
    action: switch.turn_on
  - data:
      target:
      - 506234553
      - 515837462
      message: "⚡✅ *Городская сеть стабильна (10 мин)*   \U0001F319 Ночное окно активно
        (23:30–08:00)\n\U0001F9CA Холодильник включён — нагрузка подтверждена   \U0001F50C
        *Автомат зарядки включён автоматически*\n↩️ Меню: /start\n"
    action: telegram_bot.send_message
  mode: single
- id: '1769447130342'
  alias: Автостарт зарядки
  description: Ночной автозапуск зарядки от города
  triggers:
  - trigger: state
    entity_id: binary_sensor.192_168_2_219
    to: 'on'
    for: 00:10:00
  conditions:
  - condition: time
    after: '23:30:00'
    before: 08:00:00
  - condition: state
    entity_id: switch.kotel_zariad_switch
    state: 'off'
  - condition: state
    entity_id: switch.kholodilnik_switch_2
    state: 'on'
  actions:
  - action: switch.turn_on
    target:
      entity_id: switch.kotel_zariad_switch
  - action: telegram_bot.send_message
    data:
      target:
      - 506234553
      - 515837462
      message: "⚡✅ *Городская сеть стабильна (10 мин)*   \U0001F319 Ночное окно активно
        (23:30–08:00)\n\U0001F9CA Холодильник включён — нагрузка подтверждена   \U0001F50C
        *Автомат зарядки включён автоматически*\n↩️ Меню: /start\n"
  mode: single
