homeassistant:
  customize: !include customize.yaml
  packages: !include_dir_merge_named includes/packages

  # Loads default set of integrations. Do not remove.
default_config:
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url: /www/community/lovelace-card-mod/card-mod.js

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
influxdb: !include influxdb.yaml
telegram_bot: !include includes/telegram.yaml
notify: !include includes/notify.yaml
recorder:
  purge_interval: 14
  purge_keep_days: 90
  exclude:
    entities:
      - sensor.time
media_player:
  - platform: aquostv
    host: 192.168.2.21
    name: media_player.android_tv_192_168_2_21
